
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pheader{
  text-align: center;
  font-size: 300%;
  background-color: beige;
  background-size:auto;
  padding: 19px;
}


.container {
  position: relative;
  width: 70%;
  max-width: 200px;
}

.container img {
  width: 80%;
  height: auto;
}
.col {
  float: left;
  display:flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
Button{
  width: 100%;
  
}
.row:after {
  display: table;
  clear: both;
}

.button {
  border-radius: 4px;
  background-color:#7FFFD4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


*{
  font-family: 'Josefin Sans', 'sans-serif';
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
}
nav{
  background-color: #051367;
  height: 80px;
  width: 100%;
  
  
}
.text-a {
  font-size: 30px;
  color: aliceblue;  
}
.main-tag{
  border-radius: 20px;
  margin-top: 50px;
  height: 70vh;
  background-color: #EEEDDE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
}
.main-tag , nav , .main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,Input{
  width: 300px;
  height: 40px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
}
.asd{
  width: 310px;
  height: 40px;
  background-color: #051367;
  color: #EEEDDE;
  font-size: 20px;
  text-align: center;
  border-radius: 50px;
  border: 0;
  
}
button:hover{
  color: #000;
  background-color: yellowgreen;
}
.button-tag{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.button-tag p{
  margin-left: 10px;
}

span{cursor: pointer;}
.input-field{
  /* display:flex; */
  justify-content:space-between;
  /* align-items:center; */
  /* padding: 15px; */

}